<!-- Reports -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reporte</title>




    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

</head>
<body>


<div class="container">

    <h2> Reporte de ventas</h2>

    <p>Periodo: <strong> <%= startdate %> - <%= enddate %></strong></p>
    <p>
        Tienda: <strong> <%= tienda.nombre %></strong>
    </p>

    <p>
        Ingreso total del periodo: <strong>$<%= monto_total.total %></strong>
    </p>

    <p>
        Monto pagado con tarjeta de debito o crédito: <strong>$<%= monto_tarjetas.total %></strong>
    </p>

    <label>Lista de ventas</label>
    <table class="table table-striped">
        <thead>
        <tr>

            <th>ID Nota </th>
            <th>Monto </th>
            <th>Artículos</th>
            <th>Fecha </th>
            <th>Hora </th>

        </tr>
        </thead>
        <tbody>


        <% for (var i=0; i< ventas.length; i ++){%>
        <tr>

            <td> <%= ventas[i].id_nota %> </td>
            <td> $<%= ventas[i].precio_venta %> </td>
            <td> <%= ventas[i].num_articulos %> </td>
            <td> <%= ventas[i].fecha_venta.toLocaleDateString('es-MX',{timeZone:'America/Mexico_City'}) %> </td>
            <td> <%= ventas[i].hora_venta %> </td>

        </tr>
        <%}%>
        </tbody>
    </table>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>




