<form id="updateUser">
    <input type="text" value="<%=user.id%>" name="id" hidden>
    <p>
        <label>Nombre de usuario</label>
        <input type="text" value="<%=user.usuario%>" class="form-control" name="usuario" disabled>
    </p>
<!--
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Contraseña</label>
                <input type="text" class="form-control" name="contrasena" required>
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <label>Confirmar contraseña</label>
                <input type="text" class="form-control" name="confirmar_contrasena" required>
            </p>
        </div>
    </div>
    -->
    <p>
        <label>E-mail</label>
        <input type="email" value="<%=user.email%>" class="form-control" name="email">
    </p>
    <p>
        <label>Nombre(s)</label>
        <input type="text" value="<%=user.nombres%>" class="form-control" name="nombres">
    </p>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Apellido paterno</label>
                <input type="text" value="<%=user.apellido_paterno%>" class="form-control" name="apellido_paterno">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Apellido materno</label>
                <input type="text" value="<%=user.apellido_materno%>" class="form-control" name="apellido_materno">
            </p>
        </div>
    </div>


    <p>
        <label>RFC</label>
        <input type="text" value="<%=user.rfc%>" class="form-control" name="rfc">
    </p>
    <p>
        <label>Calle</label>
        <input type="text" value="<%=user.direccion_calle%>" class="form-control" name="direccion_calle">
    </p>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Número interior</label>
                <input type="text" value="<%=user.direccion_numero_int%>" class="form-control" name="direccion_numero_int">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Número exterior</label>
                <input type="text" value="<%=user.direccion_numero_ext%>"  class="form-control" name="direccion_numero_ext">
            </p>
        </div>

    </div>


    <p>
        <label>Colonia</label>
        <input type="text" value="<%=user.direccion_colonia%>" class="form-control" name="direccion_colonia">
    </p>
    <p>
        <label>Localidad</label>
        <input type="text" value="<%=user.direccion_localidad%>" class="form-control" name="direccion_localidad">
    </p>
    <p>
        <label>Municipio</label>
        <input type="text" value="<%=user.direccion_municipio%>" class="form-control" name="direccion_municipio">
    </p>
    <p>
        <label>Ciudad</label>
        <input type="text" value="<%=user.direccion_ciudad%>" class="form-control" name="direccion_ciudad">
    </p>
    <p>
        <label>Estado</label>
        <input type="text" value="<%=user.direccion_estado%>" class="form-control" name="direccion_estado">
    </p>
    <p>
        <label>País</label>
        <input type="text" value="<%=user.direccion_pais%>" class="form-control" name="direccion_pais">
    </p>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <label>¿Empleado?</label>
                <select class="form-control" name="empleado">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </p>
        </div>
        <div class="col-sm-9">
            <p>
                <label>Salario</label>
                <input type="number" value="<%=user.salario%>" class="form-control" name="salario">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <label>Tablero</label>
                <select class="form-control" name="permiso_tablero">
                    <option value="false">No</option>
                    <option value="true">Sí</option>
                </select>
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <label>Administrador</label>
                <select class="form-control" name="permiso_administrador">
                    <option value="false">No</option>
                    <option value="true">Sí</option>
                </select>
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <label>Vendedor</label>
                <select class="form-control" name="permiso_empleados">
                    <option value="false">No</option>
                    <option value="true">Sí</option>
                </select>
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <label>Inventario</label>
                <select class="form-control" name="permiso_inventario">
                    <option value="false">No</option>
                    <option value="true">Sí</option>
                </select>
            </p>
        </div>
    </div>


    <p>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </p>

</form>