<form id="itemForm">
    <!--id_proveedor
    id_tienda-->
    <input type="text" value="<%=item.id%>" name="id" hidden>
    <p>
        <label>articulo</label>
        <input type="text" value="<%=item.articulo%>" class="form-control" name="articulo" required>
    </p>


    <p>
        <label>Descripcion</label>
        <input type="text" value="<%=item.descripcion%>" name="descripcion" class="form-control" required>
    </p>
    <p>
        <label>Marca</label>
        <select class="form-control" name="id_marca">
            <option value="">Ninguna</option>
            <% for ( var i =0; i < marcas ; i++ ){%>
            <option value="<%= marcas[i].id %>" <%= ( item.id_marca == marcas[i].id )?'selected':null%> > <%= marcas[i].nombre %></option>
            <%}%>
        </select>
    </p>
    <p>
        <label>Modelo</label>
        <input name="modelo" value="<%=item.modelo%>" type="text" class="form-control" required>
    </p>


    <p>
        <label>Tienda</label>
        <select name = "id_tienda" class="form-control">
            <%
            if (tiendas.length > 0 ){
            for (var i =0; i < tiendas.length; i++){
            %>
            <option value="<%= tiendas[i].id %>" <%= tiendas[i].id == item.id_tienda ? 'selected': null %> > <%= tiendas[i].nombre %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguna</option>
            <% }%>
        </select>
    </p>
    <p>
        <label>Proveedor</label>
        <select name="id_proveedor" class="form-control">
            <%
            if (proveedores.length > 0 ){
            for (var i =0; i < proveedores.length; i++){
            %>
            <option value="<%= proveedores[i].id %>" <%= item.id_proveedor == proveedores[i].id?'selected' : null %> > <%= proveedores[i].nombre %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguno</option>
            <% }%>
        </select>
    </p>

    <p>
        <label>Talla</label>
        <input type="text" name="talla" value="<%= item.talla %>" class="form-control">
    </p>
    <p>
        <label>Notas</label>
        <input type="text" name="notas" value="<%= item.notas %>" class="form-control">
    </p>
    <p>
        <label>Precio unitario</label>
        <input type="number" name="precio" value="<%= item.precio %>" class="form-control">
    </p>
    <p>
        <label>Costo unitario</label>
        <input type="number" name="costo" value="<%= item.costo %>" class="form-control">
    </p>
    <!--codigo_barras-->
    <!--url_imagen-->
    <p>
        <label>Fotografía</label>
        <input class="form-control" type="file" name="url_imagen">
    </p>
    <p>
        <label>Código de barras</label>
        <input type="number" class="form-control" name="codigo_barras">
    </p>
    <p>
        <label>Número de existencias</label>
        <input type="number" class="form-control" value="<%= item.n_existencias%>" name="n_existencias" readonly>
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </p>

</form>