<form id="storeForm">

    <input type="text" value="<%=store.id%>" name="id" hidden>


            <p>
                <label>Nombre de la tienda</label>
                <input name="nombre" value="<%=store.nombre%>" class="form-control" required>
            </p>

            <p>
                <button type="button" class="btn btn-primary" id = "deletestore" data-id ="<%= store.id %>"> Eliminar</button>
            </p>

    

    <p>
        <label>Calle</label>
        <input type="text" value="<%=store.direccion_calle%>"  class="form-control" name="direccion_calle" required>
    </p>

    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>Número interior</label>
                <input type="text" value="<%=store.direccion_numero_int%>"  class="form-control" name="direccion_numero_int" required>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Número exterior</label>
                <input type="text" value="<%=store.direccion_numero_ext%>"  class="form-control" name="direccion_numero_ext">
            </p>
        </div>
    </div>


    <p>
        <label>Colonia</label>
        <input type="text" value="<%=store.direccion_colonia%>"  class="form-control" name="direccion_colonia" required>
    </p>
    <p>
        <label>Localidad</label>
        <input class="form-control" value="<%=store.direccion_localidad%>" type="text" name="direccion_localidad">
    </p>
    <p>
        <label>Municipio</label>
        <input type="text" value="<%=store.direccion_municipio%>" class="form-control" name="direccion_municipio">
    </p>
    <p>
        <label>Ciudad</label>
        <input type="text" value="<%=store.direccion_ciudad%>"  class="form-control" name="direccion_ciudad" required>
    </p>
    <p>
        <label>Estado</label>
        <input type="text" value="<%=store.direccion_estado%>"  class="form-control" name="direccion_estado" required>
    </p>
    <p>
        <label>País</label>
        <input type="text" value="<%=store.direccion_pais%>" class="form-control" name = "direccion_pais" required>
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </p>
</form>