<form id="noteForm">
    <!--id_proveedor
    id_tienda-->
    <input type="text" value="<%=sale.id%>" name="id" hidden>
    <p>
        <label>Usuario</label>
        <input type="text" value="<%=user.usuario%>" class="form-control" name="articulo" required>
    </p>


    <p>
        <label>Venta</label>
        <input type="text" value="<%=sale.id%>" class="form-control" name="articulo" required>
    </p>


    <p>
        <label>Número de artículos vendidos</label>
        <input type="text" value="<%=n_items_sale.count%>" name="descripcion" class="form-control" required>
    </p>

    <label>Artículos</label>
    <%
    if (items_sale.length > 0){%>
    <div class="list-group">
        <% for ( var i =0; i < items.length ; i ++ ){ %>
        <a href="#" class="list-group-item" data-item_id="<%= items[i].id %>">
            <h4 class="list-group-item-heading"> <strong>Artículo: </strong> <%= items[i].articulo %></h4>
            <p class="list-group-item-text"> <strong>Marca:</strong> <%= items[i].marca %></p>
            <p class="list-group-item-text"> <strong>Unidades vendidas:</strong> <%= items_sale[i].unidades_vendidas %></p>
            <p class="list-group-item-text"> <strong>Precio unitario: </strong> <%= items[i].precio %></p>
        </a>
        <%}%>
    </div>
    <%}else {%>
    <div class="alert alert-info" role="alert">No hay articulos registrados</div>
    <%}%>



    <p>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </p>

</form>