<form id="lendingForm">
    <input type="text" value="<%=lendings.id%>" name="id" hidden>
    <p>
        <label>Nombre del empleado</label>
        <select name="id_usuario" class="form-control">
            <%
            if (usuarios.length > 0 ){
            for (var i =0; i < usuarios.length; i++){
            %>
            <option value="<%= usuarios[i].id %>" <%= usuarios[i].id == lendings.id_usuario ? 'selected': null %> > <%= usuarios[i].nombres %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguno</option>
            <% }%>
        </select>
    </p>

    <p>
        <label>Monto del préstamo</label>
        <input value="<%=lendings.monto%>" name="monto" class = "form-control">
    </p>

    <p>
        <label>Pago Semanal</label>
        <input value="<%=lendings.pago_semanal%>" name="monto_semanal" class = "form-control">
    </p>


    <p>
        <label>Descripción</label>
        <textarea placeholder="<%=lendings.descripcion%>" name="desc" class = "form-control"></textarea>
    </p>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Fecha préstamo</label>
                <input value="<%=lendings.fecha_prestamo%>" type="text" name="fecha_prestamo" id="lending_datepicker1" class="form-control" required>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Fecha liquidación</label>
                <input value="<%=lendings.fecha_liquidacion%>" type="text" name="fecha_liquidacion" id="lending_datepicker2" class="form-control" required>
            </p>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </p>
</form>