<form id="supplierForm">
    <input type="text" value="<%=supplier.id%>" name="id" hidden>
    <p>
        <label>Nombre corto</label>
        <input type="text" value="<%=supplier.nombre%>" class="form-control" name="nombre" required>
    </p>
    <p>
        <label>Razón social</label>
        <input type="text" value="<%=supplier.razon_social%>" class="form-control" name="razon_social" required>
    </p>
    <p>
        <label>RFC</label>
        <input type="text" value="<%=supplier.rfc%>" class="form-control" name="rfc">
    </p>
    <p>
        <label>Calle</label>
        <input type="text" value="<%=supplier.direccion_calle%>" class="form-control" name="direccion_calle">
    </p>
    <p>
        <label>Número interior</label>
        <input type="text" value="<%=supplier.direccion_numero_int%>" class="form-control" name="direccion_numero_int">
    </p>
    <p>
        <label>Número exterior</label>
        <input type="text" value="<%=supplier.direccion_numero_ext%>" class="form-control" name="direccion_numero_ext">
    </p>
    <p>
        <label>Colonia</label>
        <input type="text" value="<%=supplier.direccion_colonia%>" class="form-control" name="direccion_colonia">
    </p>
    <p>
        <label>Localidad</label>
        <input type="text" value="<%=supplier.direccion_localidad%>" class="form-control" name="direccion_localidad">
    </p>
    <p>
        <label>Municipio</label>
        <input type="text" value="<%=supplier.direccion_municipio%>" class="form-control" name="direccion_municipio">
    </p>
    <p>
        <label>Ciudad</label>
        <input type="text" value="<%=supplier.direccion_ciudad%>" class="form-control" name="direccion_ciudad">
    </p>
    <p>
        <label>País</label>
        <input type="text" value="<%=supplier.direccion_pais%>" class="form-control" name="direccion_pais">
    </p>
    <p><button type="submit" class="btn btn-primary">Enviar</button> </p>
</form>
