<form id="userDetail">
    <h3><strong>Datos Generales</strong></h3>
<p>
    <label>Nombre(s)</label>
    <!--<input type="text" value="<%=usuario.nombres%>" class="form-control" name="nombres" required>-->
    <h5 style="color: #9E9E9E;"><%=usuario.nombres%></h5>
</p>
<div class="row">
    <div class="col-sm-6">
        <p>
            <label>Apellido paterno</label>
            <!--<input type="text" value="<%=usuario.apellido_paterno%>" class="form-control" name="apellido_paterno" required>-->
        <h5 style="color: #9E9E9E;"><%=usuario.apellido_paterno%></h5>
        </p>
    </div>
    <div class="col-sm-6">
        <p>
            <label>Apellido materno</label>
            <!--<input type="text" value="<%=usuario.apellido_materno%>" class="form-control" name="apellido_materno" required>-->
        <h5 style="color: #9E9E9E;"><%=usuario.apellido_materno%></h5>
        </p>
    </div>
</div>
    <hr>
    <h4 style="color: #9E9E9E;"><strong>Comisiones</strong></h4>
    <br>
    <h4 style="color: #9E9E9E;"><strong>Bonos</strong></h4>
    <br>
    <h4 style="color: #9E9E9E;"><strong>Penalizaciones</strong></h4>
    <br>
    <h4 style="color: #9E9E9E;"><strong>Préstamos</strong></h4>

    <br>

    <p>
        <button class="btn btn-primary" type="submit"> <i class="fa fa-print"></i> Imprimir reporte</button>
    </p>
</form>