<form id="userDetail">
    <h3><strong>Datos Generales</strong></h3>
    <p>
        <label>Nombre(s)</label>
    <h5 style="color: #9E9E9E;"><%=usuario.nombres%></h5>
    </p>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Apellido paterno</label>
            <h5 style="color: #9E9E9E;"><%=usuario.apellido_paterno%></h5>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Apellido materno</label>
            <h5 style="color: #9E9E9E;"><%=usuario.apellido_materno%></h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Tienda</label>
            <h5 style="color: #9E9E9E;">

            <%if (tienda){%>
                <%=tienda.nombre%>
                <%}%>

            </h5>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Salario base</label>
            <h5 style="color: #9E9E9E;"><%=usuario.salario%></h5>
            </p>
        </div>
    </div>
    <hr>
    <h3><strong>Comisiones</strong></h3>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Número de ventas</label>
            <h5 style="color: #9E9E9E;">
                <%if (ventas){%>
                <%=ventas.length%>
                <%}else{%>
                <%=0%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Total vendido</label>
            <h5 style="color: #9E9E9E;">
                <%if (montoVentas){%>
                <%=montoVentas.montoventas%>
                <%}else{%>
                <%=0%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Comision correspondiente</label>
            <h5 style="color: #9E9E9E;">
                <%if (totalComision){%>
                <%=totalComision.comision%>
                <%}else{%>
                <%=0%>
                <%}%>
            </h5>
            </p>
        </div>
    </div>





    <p>
        <button class="btn btn-primary" type="submit"> <i class="fa fa-print"></i> Imprimir reporte</button>
    </p>
</form>