<form id="userDetail">
    <h3 style="color:#9E9E9E"><strong>Datos Generales</strong></h3>
    <p>
        <label>Nombre(s)</label>
    <h5 style="color: #9E9E9E;"><%=usuario.nombres%></h5>
    </p>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Apellido paterno</label>
            <h5 style="color: #9E9E9E;"><%=usuario.apellido_paterno%></h5>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Apellido materno</label>
            <h5 style="color: #9E9E9E;"><%=usuario.apellido_materno%></h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Tienda</label>
            <h5 style="color: #9E9E9E;">
                <%if (tienda){%>
                <%=tienda.nombre%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Salario base</label>
            <h5 style="color: #9E9E9E;"><%=usuario.salario%></h5>
            </p>
        </div>
    </div>
    <hr>
    <h3 style="color:#9E9E9E"><strong>Comisiones y bonos</strong></h3>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Número de ventas individuales</label>
            <h5 style="color: #9E9E9E;">
                <%if (ventas === null){%>
                <%=0%>
                <%}else{%>
                <%=ventas.length%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Monto vendido individual</label>
            <h5 style="color: #9E9E9E;">
                <%if (montoVentas === null){%>
                <%=0%>
                <%}else{%>
                <%=montoVentas.montoventas%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Comision correspondiente</label>
            <h5 style="color: #9E9E9E;">
                <%if (totalComision === null){%>
                <%=0%>
                <%}else{%>
                <%=totalComision.comision%>
                <%}%>
            </h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Número de ventas tienda</label>
            <h5 style="color: #9E9E9E;">
                <%if (ventaTiendas === null){%>
                <%=0%>
                <%}else{%>
                <%=ventaTiendas.length%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Monto vendido tienda</label>
            <h5 style="color: #9E9E9E;">
                <%if (montoVentasTiendas === null){%>
                <%=0%>
                <%}else{%>
                <%=montoVentasTiendas.montotienda%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Bono correspondiente</label>
            <h5 style="color: #9E9E9E;">
                <%if (bono.length > 0){%>
                <%=bono[0].nombre%>
                <%}else{%>
                <%="-"%>
                <%}%>
            </h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Descripción</label>
            <h5 style="color: #9E9E9E;">
                <%if (bono.length == 0){%>
                <%="-"%>
                <%}else{%>
                <%=bono[0].descripcion%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Criterio</label>
            <h5 style="color: #9E9E9E;">
                <%if (bono.length == 0){%>
                <%="-"%>
                <%}else{%>
                <%=bono[0].criterio%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Monto</label>
            <h5 style="color: #9E9E9E;">
                <%if (bono.length == 0){%>
                <%=0%>
                <%}else{%>
                <%=bono[0].monto%>
                <%}%>
            </h5>
            </p>
        </div>
    </div>
    <hr>
    <h3 style="color:#9E9E9E"><strong>Asistencia</strong></h3>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Número de ingresos después de las 11:00 a.m</label>
            <h5 style="color: #9E9E9E;">
                <%if (entradasTarde.length > 0){%>
                <%=entradasTarde.length%>
                <%}else{%>
                <%=0%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Número de salidas antes  de las 18:00 p.m</label>
            <h5 style="color: #9E9E9E;">
                <%if (salidasTemprano.length > 0){%>
                <%=salidasTemprano.length%>
                <%}else{%>
                <%=0%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Penalización correspondiente</label>
            <h5 style="color: #9E9E9E;">
                <%if (penalizacion.length > 0){%>
                <%=penalizacion[0].nombre%>
                <%}else{%>
                <%="-"%>
                <%}%>
            </h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                <label>Descripción</label>
            <h5 style="color: #9E9E9E;">
                <%if (penalizacion.length > 0){%>
                <%=penalizacion[0].descripcion%>
                <%}else{%>
                <%="-"%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Monto</label>
            <h5 style="color: #9E9E9E;">
                <%if (penalizacion.length > 0){%>
                <%=penalizacion[0].monto%>
                <%}else{%>
                <%=0%>
                <%}%>
            </h5>
            </p>
        </div>
    </div>
    <hr>
    <h3 style="color:#9E9E9E"><strong>Préstamos</strong></h3>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Número de préstamos activos</label>
            <h5 style="color: #9E9E9E;">
                <%if (prestamos.length > 0){%>
                <%=prestamos.length%>
                <%}else{%>
                <%=0%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Total a pagar de préstamos esta semana</label>
            <h5 style="color: #9E9E9E;">
                <%if (montoPrestamos){%>
                <%=montoPrestamos.pago%>
                <%}else{%>
                <%=0%>
                <%}%>
            </h5>
            </p>
        </div>
    </div>
    <hr>

    <h3 style="color:#9E9E9E"><strong>Pagos extra</strong></h3>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Tiene pago extra:</label>
            <h5 style="color: #9E9E9E;">
                <%if (pagos_extra.monto == 0){%>
                <%="No"%>
                <%}else{%>
                <%="Si"%>
                <%}%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Descripción</label>
            <h5 style="color: #9E9E9E;">
                <%=pagos_extra.descripcion%>
            </h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Total de pago extra esta semana</label>
            <h5 style="color: #9E9E9E;">
                <%=pagos_extra.monto%>
            </h5>
            </p>
        </div>
    </div>
    <hr>

    <div class="col-sm-3 col-md-offset-9">
        <p>
            <label>Sueldo Neto</label>
        <h2 style="color: #E91E63;">
            <%if (bono.length > 0 && penalizacion.length > 0){%>
            <%=Number(usuario.salario) + Number(totalComision.comision) + Number(bono[0].monto) + Number(pagos_extra.monto) - (Number(montoPrestamos.pago) + Number(penalizacion[0].monto))%>
            <%}else if(penalizacion.length > 0){%>
            <%=Number(usuario.salario) + Number(totalComision.comision) + Number(pagos_extra.monto) - (Number(montoPrestamos.pago) + Number(penalizacion[0].monto))%>
            <%}else if(bono.length > 0){%>
            <%=Number(usuario.salario) + Number(totalComision.comision) + Number(bono[0].monto) + Number(pagos_extra.monto)  - (Number(montoPrestamos.pago))%>
            <%}else{%>
            <%=Number(usuario.salario) + Number(totalComision.comision) + Number(pagos_extra.monto) - (Number(montoPrestamos.pago))%>
            <%}%>
        </h2>
        </p>
    </div>


    <p>
        <button class="btn btn-primary" type="submit"> <i class="fa fa-print"></i> Imprimir reporte</button>
    </p>
</form>