
<%
if (items.length > 0){%>
<div class="list-group">
<% for ( var i =0; i < items.length ; i ++ ){ %>
    <a href="#" class="list-group-item" data-item_id="<%= items[i].id %>">
        <h4 class="list-group-item-heading"> <%= items[i].articulo %></h4>
        <p class="list-group-item-text"><%= items[i].descripcion %></p>
    </a>
<%}%>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">

        <li class="<%= pageNumber > 0 ? null : 'disabled'%>">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>


        <%for (var i=0; i< numberOfPages; i ++){%>
        <li class="<%= i==pageNumber?'active': null%>">
            <a href="#"><%= i + 1%></a>
        </li>
        <%}%>

        <li class="<%= pageNumber < (numberOfPages - 1) ? null : 'disabled'%>">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>

<%}else {%>
<div class="alert alert-info" role="alert">No hay tiendas registradas</div>
<%}%>