<form id="noteForm">
    <input type="text" value="<%=sales[0].id_venta%>" name="id" hidden>
    <h3 style="color:#9E9E9E"><strong>Datos Generales</strong></h3>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Tienda</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].nombre%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Vendedor</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].nombres%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Fecha de venta</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].fecha_venta.toLocaleDateString()%></h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Artiulos vendidos</label>
            <h5 style="color: #9E9E9E;"><%=sales.length%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Monto venta</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].precio_venta%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Saldo pendiente</label>
            <h5 style="color: #E91E63;"><strong><%=sales[0].saldo_pendiente%></strong></h5>
            </p>
        </div>
    </div>
    <hr>
    <h3 style="color:#9E9E9E"><strong>Detalle</strong></h3>
    <table class="table">
        <thead>
        <tr>
            <th>Artículo</th>
            <th>Unidades vendidas</th>
            <th>Monto pagado</th>
            <th>Monto por pagar</th>
            <th>Estatus</th>
        </tr>
        </thead>
        <tbody>
        <%
        if (sales.length > 0 ){
        for (var i =0; i < sales.length; i++){
        %>
        <tr>
            <td><%= sales[i].articulo%></td>
            <td><%= sales[i].unidades_vendidas%></td>
            <td><%= sales[i].monto_pagado%></td>
            <td><%= sales[i].monto_por_pagar%></td>
            <td><%= sales[i].estatus%></td>
        </tr>
        <%
        }
        }else {
        %>
        <option value="">Ninguna</option>
        <% }%>
        </tbody>
    </table>
    <hr>
    <h3 style="color:#9E9E9E"><strong>Pago</strong></h3>
    <div class="row">
        <div class="col-md-5">
    <label>Tipo pago:</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="tar">tarjeta</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="efe" checked>efectivo</label>
    </div>
    </div>

    <br>
    <p>
        <button type="submit" class="btn btn-primary">Liquidar</button>
    </p>
</form>
