<%
if (sales.length > 0){%>
<div class="list-group">
    <% for ( var i =0; i < sales.length ; i ++ ){ %>
    <div class="panel panel-default">
        <div class="panel-heading" name="item_name">
            <strong><%= sales[i].fecha_venta %></strong>
        </div>
        <div class="panel-body">

            <form>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="list-group-item-text"> <strong>Precio:</strong></p>
                    </div>
                    <div class="col-sm-1">
                        <p class="list-group-item-text"> <%= sales[i].precio_venta %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p class="list-group-item-text"> <strong>Saldo Pendiente:</strong></p>
                    </div>
                    <div class="col-sm-1">
                        <p class="list-group-item-text"><%= sales[i].saldo_pendiente %></p>
                    </div>
                </div>
                <!--
                Si hay saldo con tarjeta, se debe imprimir por default.
                -->
                <h2 style="color:#E0E0E0"><strong>Imprimir:</strong></h2>
                <input type="checkbox" name="print" value="print">
            </form>
        </div>
    </div>
    <!--<a href="#" class="list-group-item" data-user_id="<%= sales[i].id_usuario%>" data-sales_id="<%= sales[i].id %>"></a>-->
    <%}%>
</div>

<% include pagination.ejs %>

<%}else {%>
<div class="alert alert-info" role="alert">No hay ventas registradas</div>
<%}%>