<% if (sales.length > 0){
for ( var i =0; i < sales.length ; i ++ ){ %>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Venta realizada el <%= sales[i].fecha_venta.toLocaleDateString() %> a las <%= sales[i].hora_venta %></p>

        <form>
            <input type="text" name="id_venta" value="<%= sales[i].id %>" hidden>
            <div class="row">
                <div class="col-sm-4">
                    <p class="list-group-item-text"> <h3><strong>Nota:</strong></h3></p>
                </div>
                <div class="col-sm-1">
                    <p class="list-group-item-text"> <h3><%= sales[i].id %></h3></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <p class="list-group-item-text"> <h3><strong>Saldo Pendiente:</strong></h3></p>
                </div>
                <div class="col-sm-1">
                    <p class="list-group-item-text"><h3><%= sales[i].saldo_pendiente %></h3></p>
                </div>
            </div>
            <!--
                Si hay saldo con tarjeta, se debe imprimir por default.
                -->


            <div class="row">

                <div class="col-sm-4">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus-square"></i> Agregar a lista</button>
                </div>
                <div class="col-sm-4">  <p>
                        <button class="btn btn-primary" type="button" name="print-note" data-note_id="<%= sales[i].id %>"> <i class="fa fa-print"></i> Imprimir nota</button>
                    </p></div>
                <div class="col-sm-4">
                    <button class="btn btn-primary" type="button"><i class="fa fa-trash"></i> Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</div>
<%}%>


<% include pagination.ejs %>

<%}else {%>
<div class="alert alert-info" role="alert">No hay ventas registradas</div>
<%}%>