<!-- Reports -->

<h2> <%= data.metadata.title%></h2>

<label>Periodo</label>
<p> <%= data.metadata.period.enddate %> - <%= data.metadata.period.startdate %></p>


<table class="table table-striped">
    <thead>
    <tr>

        <% for (var i=0; i< data.metadata.column_names.length; i++){%>

        <th><%= data.metadata.column_names[i] %></th>

        <%}%>
    </tr>
    </thead>
    <tbody>


    <% for (var i=0; i< data.rows.length; i ++){%>
    <tr>

        <%
        for ( var prop in data.rows[i]){
        %>
        <td> <%= data.rows[i][prop] %> </td>
        <%} %>

    </tr>
    <%}%>
    </tbody>
</table>