<%
if (items.length > 0){%>
<% for ( var i =0; i < items.length ; i ++ ){ %>
<div class="panel panel-default">
    <div class="panel-heading" name="item_name">
        <%= items[i].articulo %>
    </div>

    <div class="panel-body">

        <form>
            <input type="text" name="user_id" value="<%=user.id%>"  hidden>
            <input type="text" name="item_id" value="<%= items[i].id %>" hidden>
            <div class="row">
                <div class="col-sm-8">
                    <label>Descripción:</label><p>
                        <%= items[i].descripcion %></p>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="thumbnail" style="height: 80px; text-align:center; width: 100px;">
                        <!--Aquí va la foto
                    <img src="">-->
                        <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>


            <label>Descuento aplicable:</label>

            <div class="row">
                <div class="col-sm-4">
                    <p>
                        <label class="radio-inline"><input type="radio" name="optradioDesc" checked="" value="5">5%</label>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <label class="radio-inline"><input type="radio" name="optradioDesc" value="10">10%</label>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <label class="radio-inline"><input type="radio" name="optradioDesc" value="15">15%</label>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p>
                        <label>Existencias:</label>
                        <input type="text" class="form-control" value="<%= items[i].n_existencias %>" disabled>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        <label>Unidades:</label>
                        <input type="number" name="existencias" class="form-control" max="<%= items[i].n_existencias%>" min="1" value="1">
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label>Estatus transacción:</label>
                    <select id="estatus" name="id_estatus" class="form-control">
                        <option value="venta">Venta directa</option>
                        <option value="modificacion">Modificación</option>
                        <option value="devolucion">Devolución a proveedores</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <div id="montoPagado" style="visibility: hidden">
                        <label>Monto:  </label>
                        <input type="text" class="form-control" id="monto" name="monto" value="000.00">
                    </div>
                </div>
            </div>

            <br>

            <button type="submit" class="btn btn-default"> <i class="fa fa-cart-plus"></i></button>
        </form>

    </div>
</div>
<%}%>

<% include pagination.ejs %>

<%}else {%>
<div class="alert alert-info" role="alert">No hay articulos registrados</div>
<%}%>


<br>


<script>
    $(document).ready(function() {
        $("#pagoTarjeta").click(function() {
            $("#listTerminal").css('visibility', 'visible');
        });
        $("#pagoEfectivo").click(function() {
            $("#listTerminal").css('visibility', 'hidden');
        });
        $("#estatus").change(function() {
            if (document.getElementById('estatus').options[document.getElementById("estatus").selectedIndex].value == "modificacion") {
                alert("Favor de ingresar el monto que se dejará a cuenta para la modificación de la prenda.");
                $("#montoPagado").css('visibility', 'visible');
            }else{
                $("#montoPagado").css('visibility', 'hidden');
            }
        });
    });
</script>
