<%
if (sales.length > 0){%>
<div class="list-group">
    <% for ( var i =0; i < sales.length ; i ++ ){ %>
    <a href="#" class="list-group-item" data-user_id="<%= sales[i].id_usuario%>" data-sales_id="<%= sales[i].id %>">
        <h4 class="list-group-item-heading"><%= sales[i].fecha_venta %></h4>
        <p class="list-group-item-text"> <strong>Precio:</strong> <%= sales[i].precio_venta %></p>
        <p class="list-group-item-text"> <strong>Saldo Pendiente:</strong> <%= sales[i].saldo_pendiente %></p>
    </a>
    <%}%>
</div>

<%}else {%>
<div class="alert alert-info" role="alert">No hay ventas registradas</div>
<%}%>