<!DOCTYPE html>
<html lang="es">
<head>
<!-- Bootstrap -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<%
 function getStr( str) {
     return str!= null && str !=''?str:''
 }
 %>

<p>
<b>Nota <%= venta.id %></b>
</p>
<p>
<b>Tienda: <%= tienda.nombre %> </b>
</p>

<b>Vendedor: <%= getStr(usuario.nombres) +" "+ getStr(usuario.apellido_paterno) + " "+ getStr(usuario.apellido_materno)  %></b>
<p>
Fecha:<br>
<%= venta.fecha_venta.toString() %>
</p>

<p>
Hora:<br>
<%= venta.hora_venta.toString()%>
</p>



<p>Artículos</p>
<% for ( var i=0; i< articulos.length; i++){%>

<p><%= articulos[i].articulo %></p>
<%}%>


<p><b>TOTAL:</b><br>
<%= venta.precio_venta%>
</p>

<p>Saldo pendiente:<br>

    <b>
    <%= venta.saldo_pendiente %></b>

</p>

<p>Por higiene y seguridad, NO SE ACEPTAN DEVOLUCIONES</p>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>