<!DOCTYPE html>
<html lang="es">
<head>
<!-- Bootstrap -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="font-size: 12px">
<%
 function getStr( str) {
     return str!= null && str !=''?str:''
 }
 %>

<p>
    <b>Nota <%= venta.id %></b>
</p>
<p>
    <b>Tienda: <%= tienda.nombre %> </b>
    <!-- Dirección-->
</p>
<p>
    <% if ( tienda.rfc != '' && tienda.rfc != null ){%>
    <b>RFC: <%= tienda.rfc %> </b>
    <%}%>
</p>

<p>
    Fecha: <%= venta.fecha_venta.toLocaleString() %>
<br>
    Hora: <%= venta.hora_venta.toString()%>
</p>
<b>Vendedor: <%= getStr(usuario.nombres) +" "+ getStr(usuario.apellido_paterno) + " "+ getStr(usuario.apellido_materno)  %></b>

<p>Artículos</p>
<% for ( var i=0; i< articulos.length; i++){%>

<p><%= articulos[i].articulo %></p>
<%}%>

<p>Forma de pago:</p>

<p><b>TOTAL:</b><br>
    <%= venta.precio_venta%>
</p>

<p>Saldo pendiente:<br>

    <b>
        <%= venta.saldo_pendiente %></b>

</p>

<p>Por higiene y seguridad, NO SE ACEPTAN DEVOLUCIONES</p>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>