<form id="typeForm">
    <input type="text" name="user_id" value="<%=user.id%>" data-user_id="<%=user.id%>" hidden>
    <input type="text" name="efec_tot" id="efec_tot" value="<%=total[0].sum%>" hidden>
    <p>
        <label>Monto que se deja a cuenta en efectivo: </label>
        <input id="monto_efec" name="monto_efec" class="form-control" required value="<%=total[0].sum%>">
    </p>

    <p>
        <label>Monto que se deja a cuenta con tarjeta: </label>
        <input id="monto_tarj" name="monto_tarj" class="form-control" required disabled value="0">
    </p>

    <p>
        <label>Terminal: </label>
        <select name="terminal" class="form-control" required>
            <%
            if (terminales.length > 0 ){
            for (var i =0; i < terminales.length; i++){
            %>
            <option value="<%= terminales[i].id %>"> <%= terminales[i].nombre_facturador %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguno</option>
            <% }%>
        </select>
    </p>

    <p>
        <button type="submit" class="btn btn-primary">Crear</button>
    </p>
</form>

<script>
    $("#monto_efec").on('keyup', function(){
        document.getElementById("monto_tarj").value = document.getElementById("efec_tot").value -
            document.getElementById("monto_efec").value;
    })
</script>