<div class="alert alert-warning alert-dismissible" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<p></p>
</div>

<form id="form_updateprofile">
    <input type="hidden" name="user_id" value="<%= user.id %>">
    <p><input class="form-control" name ="nombres" value = "<%= user.usuario %>" disabled ></p>
    <label>Nombre(s)</label>
    <p><input class="form-control" name ="nombres" value = "<%= user.nombres %>" required></p>
    <div class="row">
        <div class="col-sm-6">
            <label>Apellido paterno</label>
            <p><input class="form-control" name ="apellido_paterno" value = "<%= user.apellido_paterno %>" ></p>
        </div>
        <div class="col-sm-6">
            <label>Apellido materno</label>
            <p><input class="form-control" name ="apellido_materno" value = "<%= user.apellido_materno %>" ></p>
        </div>
    </div>

    <label>RFC</label>
    <p><input type="text" class="form-control" name="rfc" value="<%= user.rfc%>"></p>
    <h3>Dirección</h3>
    <label>Calle</label>
    <p><input type="text" class="form-control" name="direccion_calle" value="<%= user.direccion_calle%>"></p>
    <div class="row">
        <div class="col-sm-6">
            <label>Número interior</label>
            <p><input type="text" class="form-control" name="direccion_numero_int" value="<%= user.direccion_numero_int%>"></p>
        </div>
        <div class="col-sm-6">
            <label>Número exterior</label>
            <p><input type="text" class="form-control" name="direccion_numero_ext" value="<%= user.direccion_numero_ext%>"></p>
        </div>
    </div>

    <label>Colonia</label>
    <p><input type="text" class="form-control" name="direccion_colonia" value="<%= user.direccion_colonia %>"></p>
    <label>Localidad</label>
    <p><input type="text" class="form-control" name="direccion_localidad" value="<%= user.direccion_localidad %>"></p>
    <label>Municipio</label>
    <p><input type="text" class="form-control" name="direccion_municipio" value="<%= user.direccion_municipio %>"></p>
    <label>Ciudad</label>
    <p><input type="text" class="form-control" name="direccion_ciudad" value="<%= user.direccion_ciudad%>"></p>
    <label>País</label>
    <p><input type="text" class="form-control" name="direccion_pais" value="<%= user.direccion_pais %>"></p>
    <button class="btn btn-primary" type="submit">Actualizar</button>
</form>


<hr>
<form id="update_password">
    <input type="hidden" name="user_id">
    <label>Contraseña actual</label>
    <p><input type="password" class="form-control" name="old_pass"></p>
    <label>Nueva contraseña</label>
    <p><input type="password" class="form-control" name="new_pass"></p>
    <label>Confirmación de contraseña</label>
    <p><input type="password" class="form-control" name="confirm_pass"></p>
    <button class="btn btn-primary" type="submit">Actualizar</button>
</form>