<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>

<% include partials/navbar.ejs%>

<div class="container">

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><strong>Venta</strong></a></li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <% if (items.length > 0){%>
                    <div class="list-group">
                        <% for ( var i =0; i< items.length; i++){%>
                        <a href="/carrito" class="list-group-item">
                        <div class="row" style="display: flex;align-items: center;">
                            <div class="col-sm-9">
                            <h3 class="list-group-item-heading"><strong>Vendedor: </strong><%=items[i].usuario%></h3>
                            <h4 class="list-group-item-text"><strong>ID:</strong><%=items[i].id_articulo%></h4>
                            <p class="list-group-item-text"><strong>Articulo: </strong><%=items[i].articulo%></p>
                            <p class="list-group-item-text"><strong>Descripción: </strong><%=items[i].descripcion%></p>
                            <p class="list-group-item-text"><strong>Modelo: </strong><%=items[i].modelo%> | <strong>Marca: </strong><%=items[i].id_marca%> | <strong>Talla: </strong><%=items[i].talla%> | <strong>Precio unitario: </strong><%=items[i].precio%> | <strong>Unidades seleccionadas: </strong><%=items[i].unidades_carrito%></p>
                            <h2 class="list-group-item-text"><strong>Precio: </strong><span style="color: #e91e63;"><%=totales[i].totales%></span></h2>
                            </div>
                            <div class="col-sm-1" >
                                <i id="inc" data-toggle="modal" data-user_id="<%=items[i].id_usuario%>" data-item_id="<%=items[i].id_articulo %>" data-target="#genericModal" data-action="inc_existence" class="fa fa-chevron-circle-up fa-3x" style="color:#e0e0e0"></i>
                            </div>
                            <div class="col-sm-1" >
                                <i id="dec" data-toggle="modal" data-user_id="<%=items[i].id_usuario%>" data-item_id="<%=items[i].id_articulo %>" data-target="#genericModal" data-action="dec_existence" class="fa fa-chevron-circle-down fa-3x" style="color:#e0e0e0"></i>
                            </div>
                            <div class="col-sm-1" >
                                <i id="rem" data-toggle="modal" data-user_id="<%=items[i].id_usuario%>" data-item_id="<%=items[i].id_articulo %>" data-target="#genericModal" data-action="rem_existence" class="fa fa-times-circle-o fa-3x" style="color:#e0e0e0"></i>
                            </div>
                        </div>
                        </a>
                        <%}%>
                        <h1 style="float: right;"><strong>Total: </strong> <%= total[0].sum%></h1>
                    </div>
                    <button data-toggle="modal" data-target="#genericModal" data-action="make_sale" class="btn btn-primary">Realizar venta </button>
                    <%}else{%>
                    <div class="alert alert-info" role="alert">El carrito está vacio</div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>

</div>

<% include partials/modal.ejs %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/modal.js"></script>
</body>
</html>
