<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>

<% include partials/navbar.ejs%>

<div class="container">
    <form>
        <div class="panel panel-default">
            <div class="panel-heading">Venta en proceso</div>
            <div class="panel-body">

                <% if (items.length > 0){%>

                <% for ( var i =0; i< items.length; i++){%>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>
                                    <label>Vendedor:</label>
                                    <%= user.nombres %>
                                </h4>
                                <hr>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <p>
                                        <label>Artículo:</label>
                                        <%= items[i].articulo %>
                                    </p>
                                </div>
                                <div class="col-sm-2">
                                    <p>
                                        <label>Descuento:</label>
                                        <% if (items[i].discount){%>
                                            <%= items[i].precio - items[i].carrito_precio %>
                                        <%}else{%>
                                        0%
                                        <%}%>
                                    </p>
                                </div>
                                <div class="col-sm-2">
                                    <p>
                                        <label>Unidades:</label>
                                        <%= items[i].unidades_carrito %>
                                    </p>
                                </div>
                                <div class="col-sm-2">
                                    <p>
                                        <label>Modelo:</label>
                                        <%= items[i].modelo %>
                                    </p>
                                </div>

                                <div class="col-sm-2">
                                    <p>
                                        <label>Proveedor:</label>
                                        <%= items[i].nombre %>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <br>
                            <div class="col-sm-4">
                                  <p>
                                      <label>Precio de venta:</label>
                                      <!--<%= items[i].carrito_precio %>-->
                                      <input type="number" name="precio_unitario_art" class="form-control" data-item_id="<%=items[i].id_articulo_unidad%>" value="<%=items[i].carrito_precio%>" data-precio="<%=items[i].precio%>">
                                  </p>
                                </div>
                                <div class="col-sm-4">
                                    <label>Monto a cuenta:</label>
                                    <input type="number" name="monto_pagado" class="form-control" data-item_id="<%=items[i].id_articulo_unidad %>" max="<%= totales[i].totales%>" value="<%= items[i].monto_pagado%>" >
                                </div>
                                <div class="col-sm-4">
                                    <label>Estatus:</label>
                                    <select name = "estatus" data-item_id="<%=items[i].id_articulo_unidad%>"  class="form-control" required>
                                        <%
                                        if (items[i].estatus == "liquidada"){
                                        %>
                                        <option value="liquidada" selected>Liquidada</option>
                                        <option value="compostura">Compostura</option>
                                        <option value="pendiente_pago">Pendiente pago</option>
                                        <option value="solicitada">Solicitada</option>
                                        <%
                                        }else if(items[i].estatus == "compostura") {
                                        %>
                                        <option value="liquidada">Liquidada</option>
                                        <option value="compostura" selected>Compostura</option>
                                        <option value="pendiente_pago">Pendiente pago</option>
                                        <option value="solicitada">Solicitada</option>
                                        <% }else if(items[i].estatus == "pendiente_pago"){%>
                                        <option value="liquidada">Liquidada</option>
                                        <option value="compostura">Compostura</option>
                                        <option value="pendiente_pago" selected>Pendiente pago</option>
                                        <option value="solicitada">Solicitada</option>
                                        <%}else if(items[i].estatus == "solicitada"){%>
                                        <option value="liquidada">Liquidada</option>
                                        <option value="compostura">Compostura</option>
                                        <option value="pendiente_pago">Pendiente pago</option>
                                        <option value="solicitada" selected>Solicitada</option>
                                        <%}else{%>
                                        <option value="liquidada">Liquidada</option>
                                        <option value="compostura">Compostura</option>
                                        <option value="pendiente_pago">Pendiente pago</option>
                                        <option value="solicitada">Solicitada</option>
                                        <%}%>
                                    </select>
                                </div>

                            </div>
                        </div>
                            <div class="col-sm-5" style="vertical-align: middle;">
                                <h2>
                                    <label style="color:#bdbdbd">Precio artículo: </label>
                                    <!--                                     <span style="color: #e91e63"><%= totales[i].totales %></span>-->
                                    <span style="color: #e91e63"><%= items[i].precio %></span>
                                </h2>
                            </div>


                            <div class="col-sm-1" >
                                <!--<button class="btn btn-default" ></button>-->
                                <i id="rem" data-action="rem_item" data-estatus="<%=items[i].estatus%>"  data-user_id="<%=items[i].id_usuario%>" data-item_id="<%=items[i].id_articulo_unidad %>" class="fa fa-times-circle-o fa-3x" style="cursor: pointer;color:#e0e0e0"></i>
                            </div>

                        </div>

                    </div>

                <%}%>
                <row>
                    <div class="col-sm-1">
                        <button class="btn btn-primary" data-action="make_sale" data-user_id="<%=user.id%>" type="submit">Realizar venta</button>
                    </div>
                    <div class="col-sm-5 col-md-offset-1">
                        <h2 id="monto_total" style="float: right;"><strong>Total a cuenta: </strong> <%= monto[0].sum%></h2>
                    </div>
                    <div class="col-sm-5 col-md-offset-0">
                        <h2 style="float: right;"><strong>Total venta:    </strong> <%= total[0].sum%></h2>
                    </div>
                </row>
                <!--<button data-toggle="modal" data-target="#genericModal" data-action="make_sale" data-user_id="<%=user.id%>" class="btn btn-primary">Realizar venta </button>-->
                <%}else{%>
                <div class="alert alert-info" role="alert">El carrito está vacio</div>
                <%}%>
</div>

</div>

</form>
</div>

<% include partials/modal.ejs %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- datepicker -->
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/bower_components/timepicker/jquery.timepicker.min.js"></script>


<script src="/javascripts/modal.js"></script>
<script src="/javascripts/carrito.js"></script>
</body>
</html>
