<form id="noteForm">
    <input type="text" value="<%=sales[0].id_venta%>" name="id" hidden>
    <h3 style="color:#9E9E9E"><strong>Datos Generales</strong></h3>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Tienda</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].nombre%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Vendedor</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].nombres%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Fecha de venta</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].fecha_venta.toLocaleDateString()%></h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Artiulos vendidos</label>
            <h5 style="color: #9E9E9E;"><%=sales.length%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Monto venta</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].precio_venta%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Saldo pendiente</label>
            <h5 style="color: #E91E63;"><strong><%=sales[0].saldo_pendiente%></strong></h5>
            </p>
        </div>
    </div>
    <hr>
    <h3 style="color:#9E9E9E"><strong>Detalle</strong></h3>
    <div style="overflow: scroll">
    <table class="table">
        <thead>
        <tr>
            <th>Artículo</th>
            <th>Unidades vendidas</th>
            <th>Monto pagado</th>
            <th>Monto a pagar</th>
            <th>Forma pago</th>
            <th>Estatus</th>
            <th>Abono</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <%
        if (sales.length > 0 ){
        for (var i =0; i < sales.length; i++){
        %>
        <tr style="text-align: center !important">
            <td  style="text-align: center !important"><%= sales[i].articulo%></td>
            <td  style="text-align: center !important"><%= sales[i].unidades_vendidas%></td>
            <td  style="text-align: center !important"><%= sales[i].monto_pagado%></td>
            <td  style="text-align: center !important"><p  value="<%=sales[i].monto_por_pagar%>"><%= sales[i].monto_por_pagar%></p></td>


            <!-- Forma de pago -->
            <td >
                <label class="radio-inline"><input type="radio" name="optradio" value="cred" style="display:inline-block;">crédito</label>
                <br>
                <label class="radio-inline"><input type="radio" name="optradio" value="deb" style="display:inline-block;">débito  </label>
                <br>
                <label class="radio-inline"><input type="radio" name="optradio" value="efe" style="display:inline-block;" checked>efectivo</label>
            </td>

            <!-- Estatus -->
            <td  style="text-align: center !important">
                <select name = "estatus" class="form-control" required>
                    <%
                    if (sales[i].estatus == "entregada"){
                    %>
                    <option value="entregada" selected>Entregada</option>
                    <option value="modificacion">Modificación</option>
                    <option value="pendiente">Pendiente</option>
                    <option value="solicitada">Solicitada</option>
                    <%
                    }else if(sales[i].estatus == "modificacion") {
                    %>
                    <option value="entregada">Entregada</option>
                    <option value="modificacion" selected>Modificación</option>
                    <option value="pendiente">Pendiente</option>
                    <option value="solicitada">Solicitada</option>
                    <%
                    }else if(sales[i].estatus == "pendiente") {
                    %>
                    <option value="entregada">Entregada</option>
                    <option value="modificacion">Modificación</option>
                    <option value="pendiente" selected>Pendiente</option>
                    <option value="solicitada">Solicitada</option>
                    <%}else{%>
                    <option value="entregada">Entregada</option>
                    <option value="modificacion">Modificación</option>
                    <option value="pendiente">Pendiente</option>
                    <option value="solicitada" selected>Solicitada</option>
                    <%}%>
                </select>
            </td>

            <td  style="text-align: center !important"><input name="abono" type="number" data-monto_pagar="<%=sales[i].monto_por_pagar%>" value=0  max="<%=sales[i].monto_por_pagar%>"></td>
            <%
            if (sales[i].estatus == "entregada"){
            %>
            <td><button name="abonar" data-estatus="entregada" data-forma_pago="efe" data-monto_pagar="<%=sales[i].monto_por_pagar%>" data-sale_id="<%=sales[i].id_venta%>" data-item_id="<%=items_ids[i].id_item_sale%>" type="button" class="btn btn-primary" style="height:40px !important; text-align: center !important" disabled>Abonar</button></td>
            <%
            }else if(sales[i].estatus == "modificacion") {
            %>
            <td><button name="abonar" data-estatus="modificacion" data-forma_pago="efe" data-monto_pagar="<%=sales[i].monto_por_pagar%>" data-sale_id="<%=sales[i].id_venta%>" data-item_id="<%=items_ids[i].id_item_sale%>" type="button" class="btn btn-primary" style="height:40px !important; text-align: center !important" disabled>Abonar</button></td>
            <% }else{%>
            <td><button name="abonar" data-estatus="pendiente" data-forma_pago="efe" data-monto_pagar="<%=sales[i].monto_por_pagar%>" data-sale_id="<%=sales[i].id_venta%>" data-item_id="<%=items_ids[i].id_item_sale%>" type="button" class="btn btn-primary" style="height:40px !important; text-align: center !important" disabled>Abonar</button></td>
            <%}%>
        </tr>
        <%
        }
        }else {
        %>
        <option value="">Ninguna</option>
        <% }%>
        </tbody>
    </table>
    </div>
    <hr>
    <h3 style="color:#9E9E9E"><strong>Pago</strong></h3>
    <div class="row">
        <div class="col-md-5">
    <label>Tipo pago:</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="tar">tarjeta</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="efe" checked>efectivo</label>
    </div>
    </div>

    <br>
    <p>
        <button type="submit" class="btn btn-primary">Liquidar todo</button>
    </p>
</form>

<script src="/javascripts/notes.js"></script>