<form id="noteForm">
    <input type="text" value="<%=sales[0].id_venta%>" name="id" hidden>
    <h3 style="color:#9E9E9E"><strong>Datos Generales</strong></h3>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Tienda</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].nombre_tienda%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Vendedor</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].nombre_usuario%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Fecha de venta</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].fecha_venta.toLocaleDateString()%></h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Articulos vendidos</label>
            <h5 style="color: #9E9E9E;"><%=sales.length%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Monto venta</label>
            <h5 style="color: #9E9E9E;"><%=sales[0].precio_venta%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Saldo devoluciones</label>
                <%if(saldo_devuelto.saldo_devuelto){%>
                    <h5 style="color: #9E9E9E;"><%=saldo_devuelto.saldo_devuelto%></h5>
                <%}else{%>
                    <h5 style="color: #9E9E9E;">0</h5>
                <%}%>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Monto pagado</label>
                <h5 style="color: #9E9E9E;"><%=sales[0].monto_pagado%></h5>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <%if(sales[0].saldo_pendiente - saldo_devuelto.saldo_devuelto >= 0){%>
                    <label>Saldo pendiente</label>
                    <h3 style="color: #E91E63;"><strong><%=sales[0].saldo_pendiente - saldo_devuelto.saldo_devuelto %></strong></h3>
                <%}else{%>
                    <label>El cliente tiene un saldo a favor de </label>
                    <h3 style="color: #E91E63;"><strong><%=-(sales[0].saldo_pendiente - saldo_devuelto.saldo_devuelto)%></strong></h3>
                <%}%>
            </p>
        </div>
    </div>

    <div>
        <h3 style="color:#9E9E9E"><strong>Notas o comentarios (historicos)</strong></h3>
        <%if(comentarios.length > 0){ for(var i = 0; i < comentarios.length; i++){%>
            <label>Comentario hecho <span style="color: #E91E63;"><%=comentarios[i].fecha.toLocaleDateString()%></span></label>
            <textarea rows="3" class = "form-control" readonly><%=comentarios[i].texto%></textarea>
        <%}}else{%>
            <option value="">Ninguno</option>
        <%}%>
    </div>

<hr>
    <h3 style="color:#9E9E9E"><strong>Detalle</strong></h3>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Artículo</th>
                    <th>Modelo</th>
                    <th>Proveedor</th>
                    <th>Precio</th>
                    <th>Unidades vendidas</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <%
                if (sales.length > 0 ){
                    for (var i =0; i < sales.length; i++){
                %>
                    <tr style="text-align: center !important">
                        <td hidden><input hidden type="text" name="id_articulo"  class="form-control" value="<%=sales[i].id_articulo%>"></td>
                        <td hidden><input hidden type="text" name="id_articulo_unidad"  class="form-control" value="<%=sales[i].id_articulo_unidad%>"></td>
                        <td  style="text-align: center !important"><%= sales[i].articulo%></td>
                        <td  style="text-align: center !important"><%= sales[i].modelo%></td>
                        <td  style="text-align: center !important"><%= sales[i].nombre_proveedor%></td>
                        <td  style="text-align: center !important"><%= sales[i].precio_articulo%></td>
                        <td  style="text-align: center !important"><%= sales[i].unidades_vendidas%></td>
                        <!-- Estatus -->
                        <td  style="text-align: center !important">
                            <select name = "estatus" class="form-control" required>
                                <%
                                if (sales[i].estatus == "liquidada"){
                                %>
                                    <option value="liquidada" selected>Liquidada</option>
                                    <option value="compostura">Compostura</option>
                                    <option value="pendiente_pago">Pendiente pago</option>
                                    <!-- -<option value="solicitada">Solicitada</option>-->
                                    <option value="devolucion">Devolución</option>
                                <%
                                }else if(sales[i].estatus == "compostura") {
                                %>
                                <option value="liquidada">Liquidada</option>
                                <option value="compostura" selected>Compostura</option>
                                <option value="pendiente_pago">Pendiente pago</option>
                                <!-- -<option value="solicitada">Solicitada</option>-->
                                <option value="devolucion">Devolución</option>
                <%
                }else if(sales[i].estatus == "pendiente_pago") {
                %>
                <option value="liquidada">Liquidada</option>
                <option value="compostura">Compostura</option>
                <option value="pendiente_pago" selected>Pendiente pago</option>
                <!-- -<option value="solicitada">Solicitada</option>-->
                <option value="devolucion">Devolución</option>
                    <%}else if (sales[i].estatus == "solicitada"){%>
                    <option value="liquidada" disabled>Liquidada</option>
                    <option value="compostura" disabled>Compostura</option>
                    <option value="pendiente_pago" disabled>Pendiente pago</option>
                    <option value="solicitada" selected>Solicitada</option>
                    <option value="devolucion" disabled>Devolución</option>
                    <%}else{%>
                    <option value="liquidada" disabled>Liquidada</option>
                    <option value="compostura" disabled>Compostura</option>
                    <option value="pendiente_pago" disabled>Pendiente pago</option>
                    <!-- -<option value="solicitada" disabled>Solicitada</option>-->
                    <option value="devolucion" selected>Devolución</option>
                    <%}%>
                            </select>
                        </td>
        <%
        }
        }else {
        %>
                        <option value="">Ninguna</option>
        <% }%>
            </tbody>
        </table>
    </div>
    <hr>
    <h3 style="color:#9E9E9E"><strong>Abono</strong></h3>
    <div class="row">
        <div class="col-md-12">
            <label>Id papel abono</label>
            <input type="text" name="id_papel" id="id_papel" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <label>Monto a abonar</label>
            <input type="text" name="monto_abonar" id="monto_abonar" class="form-control" value="<%=sales[0].saldo_pendiente%>">
        </div>
    </div>
    <br>
    <!-- DATE N TIME -->
    <label>Fecha en la que se realiza el abono</label>
    <div class="form-group">
        <div class='input-group'>
            <input type="text" name="fecha_venta" id="sale_datepicker1" class="form-control" required>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <label>Hora en la que se realiza el abono</label>
    <div class="form-group">
        <div class='input-group'>
            <input type="text" name="hora_venta" id="sale_timepicker1" class="form-control" required>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <p>
                <label>Notas o comentarios: </label>
                <textarea class="form-control" rows="5" name="anotacion"></textarea>
            </p>
        </div>
    </div>



    <p id="pay_tarj">
        <label>Terminal: </label>
        <%if (terminales.length > 0 ){%>
            <select name="terminal" class="form-control" required>
                <%
                for (var i =0; i < terminales.length; i++){
                %>
                    <option value="<%= terminales[i].id %>"> <%= terminales[i].nombre_facturador %> </option>
                <%
                }
                }else {
                %>
                    <option value="">Ninguno</option>
                <% }%>
            </select>
    </p>
    <br>
    <div class="row">
        <div class="col-md-12">
            <label>Tipo pago:</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="efe" checked>Efectivo</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="cred">Tarjeta crédito</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="deb">Tarjeta débito</label>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <p>
                    <button onclick="buttonIndex=0;" type="submit" class="btn btn-primary" name="abonar">Abonar</button>
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    <button onclick="buttonIndex=1;" type="submit" class="btn btn-primary" name="cancelar">Cancelar</button>
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    <button onclick="buttonIndex=2;" type="submit" class="btn btn-primary" name="actualizar">Actualizar</button>
                </p>
            </div>
        </div>
    </div>
</form>

<script src="/javascripts/notes.js"></script>
