<!-- Reports -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Nota de venta</title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <style>
        .centrado{
            text-align: center;
        }
        hr{
            background: #0B1022;
            height: 2px;
        }
    </style>

</head>
<body>

<div class="container" style="max-width: 300px">
    <%
    function getStr( str) {
        return str!= null && str !=''?str:''
    }
    %>

    <p class="centrado">
        <strong><%= tienda.nombre %> </strong>
        <!-- Dirección-->
    </p>

    <p class="centrado">
        <strong>Ticket de venta No. <%= venta.id_nota %></strong>
    </p>

    <p class="centrado">
        <% if ( tienda.rfc != '' && tienda.rfc != null ){%>
        <b>RFC: <%= tienda.rfc %> </b>
        <%}%>
    </p>
    <hr>
    <p>
        Fecha: <strong><%= venta.fecha_venta.toLocaleDateString('es-MX',{timeZone: 'America/Mexico_City'}) %></strong>
        <br>
        Hora: <strong><%= venta.hora_venta.toString()%></strong>
    </p>
    Vendedor: <strong><%= getStr(usuario.nombres) +" "+ getStr(usuario.apellido_paterno) + " "+ getStr(usuario.apellido_materno)  %></strong>
    <hr>
    <p>Descripción:</p>
    <!-- i , articulo, unidades -->
    <table class="table table-striped">
        <thead>
        <tr>

            <th>#</th>
            <th>Artículo</th>
            <th>Cant. </th>
            <th> Monto </th>

        </tr>
        </thead>
        <tbody>


        <% for (var i=0; i< articulos.length; i ++){%>
        <tr>

            <td> <%= i+1 %> </td>
            <td> <%= articulos[i].articulo %> </td>
            <td> <%= articulos[i].unidades_vendidas %> </td>
            <td> <%= articulos[i].monto_pagado %></td> <!-- Debería ir el precio al momento de venta * unidades -->
        </tr>
        <%}%>
        </tbody>
    </table>

    <p>Forma de pago:
        <br>
        <strong>
            <%= "Tarjeta de credito " %> <!-- Arreglar esto-->
        </strong>
    </p>

    <p>Total:<br>
        <strong>$<%= venta.precio_venta%> </strong>
    </p>

    <p>Saldo pendiente:<br>

        <b>
            $<%= venta.saldo_pendiente %></b>

    </p>
    <hr>

    <p class="centrado">Por higiene y seguridad <br> <strong>NO SE ACEPTAN DEVOLUCIONES</strong></p>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>

<script src="/bower_components/jspdf/dist/jspdf.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



<script>
    /*
    var doc = new jsPDF();

    // We'll make our own renderer to skip this editor
    var specialElementHandlers = {
        '#editor': function(element, renderer){
            return true;
        }
    };

    // All units are in the set measurement for the document
    // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
    doc.fromHTML($('body').get(0), 15, 15, {
        'width': 170,
        'elementHandlers': specialElementHandlers
    });

    doc.output("dataurlnewwindow");
    */
</script>
</body>
</html>