<form id="supplierForm">
    <input type="text" value="<%=supplier.id%>" name="id" hidden>
    <p>
        <label>Nombre corto</label>
        <input type="text" value="<%=supplier.nombre%>" class="form-control" name="nombre" required>
    </p>
    <p>
        <label>Razón social</label>
        <input type="text" value="<%=supplier.razon_social%>" class="form-control" name="razon_social" required>
    </p>
    <p>
        <label>RFC</label>
        <input type="text" value="<%=supplier.rfc%>" class="form-control" name="rfc">
    </p>
    <p>
        <label>Calle</label>
        <input type="text" value="<%=supplier.direccion_calle%>" class="form-control" name="direccion_calle">
    </p>

    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Número interior</label>
                <input type="text" value="<%=supplier.direccion_numero_int%>" class="form-control" name="direccion_numero_int">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Número exterior</label>
                <input type="text" value="<%=supplier.direccion_numero_ext%>" class="form-control" name="direccion_numero_ext">
            </p>
        </div>
    </div>


    <p>
        <label>Colonia</label>
        <input type="text" value="<%=supplier.direccion_colonia%>" class="form-control" name="direccion_colonia">
    </p>
    <p>
        <label>Localidad</label>
        <input type="text" value="<%=supplier.direccion_localidad%>" class="form-control" name="direccion_localidad">
    </p>
    <p>
        <label>Municipio</label>
        <input type="text" value="<%=supplier.direccion_municipio%>" class="form-control" name="direccion_municipio">
    </p>
    <p>
        <label>Ciudad</label>
        <input type="text" value="<%=supplier.direccion_ciudad%>" class="form-control" name="direccion_ciudad">
    </p>

    <p>
        <label>Estado</label>
        <input type="text" value="<%=supplier.direccion_estado%>" class="form-control" name="direccion_estado">
    </p>
    <p>
        <label>País</label>
        <input type="text" value="<%=supplier.direccion_pais%>" class="form-control" name="direccion_pais">
    </p>
    <p>
        <label>A cuenta</label>
        <input type="text" value="<%=supplier.a_cuenta%>" class="form-control" name="a_cuenta" disabled>
    </p>
    <p>
        <label>Por pagar</label>
        <input type="text" value="<%=supplier.por_pagar%>" class="form-control" name="por_pagar">
    </p>

    <br>
    <div class="row">
        <div class="col-md-2">
        <p><button type="submit" class="btn btn-primary">Guardar</button> </p>
        </div>
        <div class="col-md-2">
        <p><button type="button" id="deletesupplier" data-id="<%= supplier.id %>" class="btn btn-primary"> Eliminar</button></p>
        </div>
    </div>

</form>
