<h3 style="color:#9E9E9E"><strong>Datos Generales</strong></h3>
<p>
    <label>Nombre(s)</label>
<%if(ventas.length > 0){%>
    <h5 style="color: #9E9E9E;"><%=ventas[0].nombre_proveedor%></h5>
<%}%>
</p>
<div class="row">
    <div class="col-sm-6">
        <p>
            <label>Razón Social</label>
            <%if(ventas.length > 0){%>
        <h5 style="color: #9E9E9E;"><%=ventas[0].razon_social_proveedor%></h5>
        <%}%>
        </p>
    </div>
    <div class="col-sm-6">
        <p>
            <label>RFC</label>
            <%if(ventas.length > 0){%>
        <h5 style="color: #9E9E9E;"><%=ventas[0].rfc_proveedor%></h5>
        <%}%>
        </p>
    </div>
</div>
<!--Desgloce bonos!!!-->
<h5 style="color:#9E9E9E"><strong>Ventas correspondientes</strong></h5>
<%if(ventas.length > 0){%>
<br>
<%for(var i = 0; i < ventas.length; i++){%>
<p><strong>Venta <span style="color: #E91E63;"><%=i+1%></span></strong></p>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><b>ID papel</b></td>
            <td><%= ventas[i].id_papel %></td>
        </tr>
        <tr>
            <td><b>Fecha venta</b></td>
            <td><%= ventas[i].fecha_venta %></td>
        </tr>
        <tr>
            <td><b>Tienda</b></td>
            <td><%= ventas[i].nombre_tienda %></td>
        </tr>
        <tr>
            <td><b>Prendas vendidas</b></td>
            <%for(var j = 0; j < ventas.length; j++){if(ventas[j].id_venta == ventas[i].id_venta){%>
            <td>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td><b>Artículo</b></td>
                        <td><%= ventas[i].nombre_articulo %></td>
                    </tr>
                    <tr>
                        <td><b>Modelo</b></td>
                        <td><%= ventas[i].modelo %></td>
                    </tr>
                    <tr>
                        <td><b>Existencias</b></td>
                        <td><%= ventas[i].n_existencias %></td>
                    </tr>
                    <tr>
                        <td><b>Costo</b></td>
                        <td><span style="color: #E91E63;"><%= ventas[i].costo %></span></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <%}}%>
        </tr>
        </tbody>
    </table>
</div>
<br><br>
<%}}else{%>
<div class="alert alert-info" role="alert">El proveedor no tiene ventas registradas en el periodo seleccionado</div>
<%}%>