<h3 style="color:#9E9E9E"><strong>Datos Generales</strong></h3>
<p>
    <label>Nombre(s)</label>
<%if(ventas.length > 0){%>
    <h5 style="color: #9E9E9E;"><%=ventas[0].nombre_proveedor%></h5>
<%}%>
</p>
<div class="row">
    <div class="col-sm-6">
        <p>
            <label>Razón Social</label>
            <%if(ventas.length > 0){%>
        <h5 style="color: #9E9E9E;"><%=ventas[0].razon_social_proveedor%></h5>
        <%}%>
        </p>
    </div>
    <div class="col-sm-6">
        <p>
            <label>RFC</label>
            <%if(ventas.length > 0){%>
        <h5 style="color: #9E9E9E;"><%=ventas[0].rfc_proveedor%></h5>
        <%}%>
        </p>
    </div>
</div>
<!--Desgloce bonos!!!-->
<h5 style="color:#9E9E9E"><strong>Ventas correspondientes</strong></h5>
<%if(ventas.length > 0){ var totalVentas = 0;%>
<br>
<%for(var i = 0; i < ventas.length; i++){ var totalVenta = 0; %>
<p><strong>Venta <span style="color: #E91E63;"><%=i+1%></span></strong></p>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><b>ID papel</b></td>
            <td><%= ventas[i].id_papel %></td>
        </tr>
        <tr>
            <td><b>Fecha venta</b></td>
            <td><%= ventas[i].fecha_venta %></td>
        </tr>
        <tr>
            <td><b>Hora venta</b></td>
            <td><%= ventas[i].hora_venta %></td>
        </tr>
        <tr>
            <td><b>Tienda</b></td>
            <td><%= ventas[i].nombre_tienda %></td>
        </tr>
        <tr>
            <td><b>Prendas vendidas</b></td>
            <td>
                <table class="table table-striped">
                    <tbody>
            <%for(var j = 0; j < venta_arts.length; j++){if(venta_arts[j].id_venta == ventas[i].id_venta){ totalVenta += Number(venta_arts[j].costo);%>
            <tr>
                <td><b style="color: #E91E63;"><%=j+1%></b></td>
            </tr>
                    <tr>
                        <td><b>Artículo</b></td>
                        <td><%= venta_arts[j].nombre_articulo %></td>
                    </tr>
                    <tr>
                        <td><b>Modelo</b></td>
                        <td><%= venta_arts[j].modelo %></td>
                    </tr>
                    <tr>
                        <td><b>Existencias</b></td>
                        <td><%= venta_arts[j].n_existencias %></td>
                    </tr>
                    <tr>
                        <td><b>Costo</b></td>
                        <td><span style="color: #E91E63;"><%= venta_arts[j].costo %></span></td>
                    </tr>
            <%}}%>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td><b>Por pagar venta</b></td>
            <td><b style="color: #e91e63"><%= totalVenta %></b></td>
        </tr>
        </tbody>

    </table>
</div>
<br><br>
<% totalVentas += Number(totalVenta)}}else{%>
<div class="alert alert-info" role="alert">El proveedor no tiene ventas registradas en el periodo seleccionado</div>
<%}%>
<div class="col-sm-3 col-md-offset-9">
    <p>
        <label>Saldo por pagar</label>
    <h2 style="color: #E91E63;">
        <%=totalVentas%>
    </h2>
    </p>
</div>