<form id="itemForm"> <!--method="post" action="/item/register" enctype="multipart/form-data"> -->
    <!--id_proveedor
    id_tienda-->
    <p>
        <label>articulo</label>
        <input type="text" class="form-control" name="articulo" required>
    </p>
    <p>
        <label>Descripcion</label>
        <input type="text" name="descripcion" class="form-control">
    </p>
    <p>
        <label>Proveedor</label>
        <select name="id_proveedor" class="form-control" required>
            <%
            if (proveedores.length > 0 ){
            for (var i =0; i < proveedores.length; i++){
            %>
            <option value="<%= proveedores[i].id %>"> <%= proveedores[i].nombre %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguno</option>
            <% }%>
        </select>
    </p>

    <p>
        <label>Marca</label>
        <select name = "id_marca" class="form-control" required>
            <%
            if (marcas.length > 0 ){
            for (var i =0; i < marcas.length; i++){
            %>
            <option value="<%= marcas[i].id %>"> <%= marcas[i].nombre %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguna</option>
            <% }%>
        </select>
    </p>
    <p>
        <label>Modelo</label>
        <input name="modelo" type="text" class="form-control" required>
    </p>

    <p>
        <label>Tienda</label>
        <select name = "id_tienda" class="form-control" required>
            <%
            if (tiendas.length > 0 ){
            for (var i =0; i < tiendas.length; i++){
            %>
            <option value="<%= tiendas[i].id %>"> <%= tiendas[i].nombre %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguna</option>
            <% }%>
        </select>
    </p>
    <p>
        <label>Talla</label>
        <input type="text" name="talla" class="form-control">
    </p>
    <p>
        <label>Notas</label>
        <input type="text" name="notas" class="form-control">
    </p>

    <div class="row">
        <div class="col-sm-4">
            <p>
                <label>Precio proveedor</label>
                <input type="number" step="any" id="costo" name="costo" class="form-control" required>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <label>Precio venta</label>
                <input type="number" step="any" id="precio" name="precio" class="form-control" required>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <!--No se debe permitir mismo código de barras para cada uno de los vestidos ver cómo adaptar el código de barras-->
                <label>Número de existencias</label>
                <input id="nArts" type="number" value="1" class="form-control" name="n_arts">
            </p>
        </div>
    </div>


    <p>
        <label>Fotografía</label>
        <input class="form-control" type="file" name="imagen" id="imagen" accept="image/*" required>
    </p>
    <!--
    <p>
        <label>Código de barras</label>
        <input type="number" class="form-control" name="codigo_barras">
    </p>
    -->


    <div class="row">
        <div class="col-md-2">
            <p>
          <button  value="registrar" type="submit" class="btn btn-primary">Registrar</button>
            </p>
        </div>
        <div class="col-md-2">
           <p>
          <button  type="submit" value="registrar_continuar" class="btn btn-primary">Registrar y continuar</button>
           </p>
        </div>
    </div>

</form>

<script>
    $("#costo").on("keyup", function(){
        $("#precio").val($("#costo").val()*2);
    })
</script>