<form id="itemForm"> <!--method="post" action="/item/register" enctype="multipart/form-data"> -->
    <!--id_proveedor
    id_tienda-->
    <!-- DATE N TIME -->
    <label>Fecha de registro</label>
    <div class="form-group">
        <div class='input-group'>
            <input type="text" name="fecha_registro" id="register_datepicker" class="form-control" required>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <p>
        <label>Id nota registro</label>
        <input type="text" name="id_nota_registro" class="form-control" required>
    </p>
    <p>
        <label>Nombre artículo</label>
        <input type="text" class="form-control" name="articulo" required>
    </p>
    <p>
        <label>Descripción</label>
        <input type="text" name="descripcion" class="form-control">
    </p>

    <p>
        <label>Proveedor</label>
        <select name="id_proveedor" class="form-control" required>
            <%
            if (proveedores.length > 0 ){
            for (var i = 0; i < proveedores.length; i++){
            %>
                <option value="<%= proveedores[i].id %>"> <%= proveedores[i].nombre %> </option>
            <%
            }
            }else {
            %>
                <option value="">Ninguno</option>
            <% } %>
        </select>
    </p>

    <p>
        <label>Marca</label>
        <select name="id_marca" class="form-control" required>
            <%
            if (marcas.length > 0 ){
            for (var i = 0; i < marcas.length; i++){
            %>
                <option value="<%= marcas[i].id %>"> <%= marcas[i].nombre %> </option>
            <%
            }
            }else {
            %>
                <option value="">Ninguna</option>
            <% } %>
        </select>
    </p>
    <p>
        <label>Modelo</label>
        <input name="modelo" type="text" class="form-control" required>
    </p>

    <p>
        <label>Tienda</label>
        <select name="id_tienda" class="form-control" required>
            <%
            if (tiendas.length > 0 ){
            for (var i = 0; i < tiendas.length; i++){
            %>
                <option value="<%= tiendas[i].id %>"> <%= tiendas[i].nombre %> </option>
            <%
            }
            }else {
            %>
                <option value="">Ninguna</option>
            <% } %>
        </select>
    </p>
    <p>
        <label>Talla</label>
        <input type="text" name="talla" class="form-control">
    </p>
    <p>
        <label>Notas</label>
        <input type="text" name="notas" class="form-control">
    </p>

    <div class="row">
        <div class="col-sm-3">
            <p>
                <label>Precio proveedor</label>
                <input type="number" step="any" id="costo" name="costo" class="form-control" required>
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <label>Descuento de proveedor (%)</label>
                <input id="nArts" type="number" value="0" class="form-control" name="discount">

            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <label>Precio venta</label>
                <input type="number" step="any" id="precio" name="precio" class="form-control" required>
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <!--No se debe permitir mismo código de barras para cada uno de los vestidos ver cómo adaptar el código de barras-->
                <label>Número de existencias</label>
                <input id="nArts" type="number" value="1" class="form-control" name="n_arts">
            </p>
        </div>
    </div>


    <p>
        <label>Fotografía</label>
        <input class="form-control" type="file" name="imagen" id="imagen" accept="image/*">
    </p>
    <!--
    <p>
        <label>Código de barras</label>
        <input type="number" class="form-control" name="codigo_barras">
    </p>
    -->


    <div class="row">
        <div class="col-md-2">
            <p>
                <button value="registrar" type="submit" class="btn btn-primary">Registrar</button>
            </p>
        </div>
        <div class="col-md-2">
            <p>
                <button type="submit" value="registrar_continuar" id="continuar" class="btn btn-primary">Registrar y
                    continuar
                </button>
            </p>
        </div>
    </div>

</form>

<script>
    $("#costo").on("keyup", function () {
        $("#precio").val($("#costo").val() * 2);
    })
</script>